/* Remove default styles for anchor links */
a {
    text-decoration: none;
  }
  
  /* Flex container for social media buttons */
  #bp {
    display: flex;
    align-items: center; /* Center buttons vertically */
    justify-content: start; /* Align buttons to the left */
  }
  
  /* Remove background color and adjust button styles */
  #b {
    margin-right: 10px; /* Space between buttons */
    padding: 10px; /* Adjust padding */
    border: none; /* Remove border */
    font-size: 20px; /* Adjust font size */
  
  }
  .flexmap{
    display: flex;
    justify-content: left;
  }
  
  #b:hover {
    color: #007bff; /* Hover color */
  }
  .footer-link{
    /* color: white; */
    /* border: 1px solid; */
  }
  
  /* Social icon button styles */
  .social-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
  }
  
  .social-button:hover {
    color: #007bff; /* Hover color */
  }
  
  /* Optional: To ensure consistency of the image size */
  .ailogo1 {
    width: 150px; /* Adjust width of the logo */
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    
  }
  @media only screen and (max-width: 600px) {
  .flexmap{
    display: flex;
    justify-content: center;
  }

  #shippingbtn{
    /* border: 1px solid; */
    margin-bottom: 20%;
  }
}