.faq-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .faq-item {
    margin: 10px 0;
    opacity: 0; /* Initially hidden */
    transform: translateY(30px); /* Start with items moved down */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
  }
  
  .faq-item.visible {
    opacity: 1; /* Make the item visible */
    transform: translateY(0); /* Bring the item into position */
  }
  
  .faq-question {
    cursor: pointer;
    padding: 15px;
    margin: 0;
    background-color: #6867679c;
    /* color: white; */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .faq-question:hover {
    background-color: #0056b3;
  }
  
  .faq-symbol {
    margin-left: 10px;
    font-size: 20px;
  }
  
  .faq-answer {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
  }
  
  @media (max-width: 600px) {
    .faq-container {
      padding: 15px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .faq-question {
      padding: 10px;
      font-size: 1rem;
    }
  
    .faq-answer {
      font-size: 0.9rem;
    }
  
    .faq-symbol {
      font-size: 18px;
    }
  }
  