/* General Styles */
.unique-main-card {
  width: 90%;
  margin: 0 auto;
}

.unique-card-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.unique-img-card {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 550px;
}

.unique-img-display {
  height: 550px;
  object-fit: cover;
}

/* Mobile-specific view */
.unique-mobile-view {
  display: none;
}

/* Mobile Devices (up to 600px) */
@media only screen and (max-width: 600px) {
  .unique-mobile-view {
    display: block;
    height: 600px; /* Set height for mobile */
    overflow: hidden;
  }
  .unique-img-display {
    height: 600px;
    object-fit: cover;
  }

  /* One card at a time */
  .unique-mobile-card {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out; /* Smooth transition for card change */
  }

  .unique-mobile-card .unique-img-card {
    max-width: 90%; /* Adjust width for mobile view */
    height: auto;
  }
  .unique-desktop-view {
    display: none;
  }
}

/* Hide desktop view on mobile */

/* Styles for tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 767px) {
  .unique-main-card {
    width: 80%;
  }

  .unique-img-card {
    max-width: 45%; /* Two cards per row on tablets */
  }

  .unique-carousel-img {
    height: 500px;
  }
}

/* Styles for max-width 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .unique-main-card {
    width: 100%;
  }

  .unique-img-card {
    max-width: 48%; /* Adjusting to make two cards fit */
  }

  .unique-carousel-img {
    height: 500px;
  }
}

/* Larger screens (Above 1024px) */
@media (min-width: 1025px) {
  .unique-main-card {
    width: 75%;
  }

  .unique-img-card:hover {
    transform: scale(1.05) translateY(-10px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .unique-img-card {
    max-width: 30%;
  }
}
