/* Default Light Mode Styles */
body.light {
  background-color: #fff; /* White background */
  color: #000; /* Black text color */
}

/* Dark Mode Styles */
body.dark {
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
}
